*.min.css
*.min.js


/*
!.gitignore

wp-content/*
!wp-content/

wp-content/themes/*
!wp-content/themes/
!wp-content/themes/astra-child/

wp-content/plugins/*
!wp-content/plugins/

!wp-content/plugins/00-panier-quebecois/
wp-content/plugins/00-panier-quebecois/vendor
!wp-content/plugins/00-pq-schedules/
!wp-content/plugins/00-pq-temp-functions/
!wp-content/plugins/klaviyo-pq-addon/

wp-content/plugins/mycred-woocommerce-plus/*
!wp-content/plugins/mycred-woocommerce-plus/
wp-content/plugins/mycred-woocommerce-plus/includes/*
!wp-content/plugins/mycred-woocommerce-plus/includes/
wp-content/plugins/mycred-woocommerce-plus/includes/partial-payment/*
!wp-content/plugins/mycred-woocommerce-plus/includes/partial-payment/
!wp-content/plugins/mycred-woocommerce-plus/includes/partial-payment/mycred-partial-woo-checkout.php

wp-content/plugins/woocommerce-ajax-add-to-cart-for-variable-products/*
!wp-content/plugins/woocommerce-ajax-add-to-cart-for-variable-products*
!wp-content/plugins/woocommerce-ajax-add-to-cart-for-variable-products/woocommerce-ajax-add-to-cart-variable-products.php